# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
src/main/java/com/anzlee/generalapi/quartz/
src/main/java/com/anzlee/generalapi/third/
src/main/resources/templates/css/
src/main/resources/templates/js/
src/test/
target/
